.App {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  display: flex;
  margin: 0 7rem;
  align-items: center;
  justify-content: center;
}

.lesson-cell {
  max-width: 60rem;
  width: 100%;
  margin: 0.4rem;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0.4rem;
  grid-row-gap: 0.4rem;
  border: #777 solid 1px;
  box-shadow: #777 0 4px 2px -2px;
}

.lesson-cell .box {
  padding: 0.4rem;
  background-color: #447744;
  color: #fff;
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.whole-group {
  margin: 0.4rem;
  grid-column: 1 / 3;
}

.subgroup-1 {
  margin: 0.4rem 0 0.4rem 0.4rem;
}

.subgroup-2 {
  margin: 0.4rem 0.4rem 0.4rem 0;
  grid-column-start: 2;
}

.weekly {
  grid-row: 1 / 3;
}

.numerator {
  margin: 0.4rem 0.4rem 0 0.4rem;
}

.denominator {
  margin: 0 0.4rem 0.4rem 0.4rem;
  grid-row-start: 2;
}

.schedule-day {
  display: flex;
  justify-content: center;
}

.day-label {
  font-weight: 700;
  font-size: 1.5rem;
  padding-right: 0.8rem;
  margin: 0.2rem;
}

.flex-row {
  display: flex;
}

.item-box {
  display: block;
  border: 1px black solid;
  border-radius: 15px;
  padding: 2rem;
  margin: 1rem;
  width: 19rem;
}

.entity-selection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* center */
}

@media screen and (max-width: 450px) {
  .schedule-day {
    flex-direction: column;
  }
}
