.App {
  text-align: center;
}

.container {
  display: flex;
  margin: 0 7rem;
  align-items: center;
  justify-content: center;
}

.lesson-cell {
  margin: 0.1rem;
  padding: 0.5rem 3rem;
  border: 1px solid black;
  background-color: #668845;
}

.schedule-day {
  display: flex;
}

.day-label {
  display: inline-block;
  font-weight: 700;
  font-size: 1.5rem;
  padding-right: 0.8rem;
}
